.button{
 
    border: none;
    color: black;
    display: inline-block;
    font-size: large;
    line-height: normal;
    padding: $m-size;
    text-decoration: none;
    margin-top: $l-size;
    
}
